# Auto detect text files and perform LF normalization
* text=auto

# Python files should use LF
*.py text eol=lf

# Windows batch files should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Shell scripts should use LF
*.sh text eol=lf 